/*
CSS Rules
selector {
	property:value
}
*/

/*Universal Selector*/
* {
	/*monospace acts like an alternate font for Courier New*/
	font-family: "Courier New", monospace;
	font-size: 20px;
}

body {
	background-color: skyblue;
}

html {
	scroll-behavior: smooth;
}

/*navigation bar*/
nav {
	background-color: white;
}

/*selector:hover psuedo class*/
/*changes the when hovered over*/
a:hover {
	background-color: #b4d6de;
}

div {
	display: inline-block;
	float: right;
}

h1 {
	color: orange !important;
	/*The !important property has the highest priority. Using this will prioritize the property.*/
	text-align: center;
	font-size: 2rem;
}

/*landing section*/
section {
	height: 100vh;
	text-align: center;
}

h2	{
	font-size: 1.5rem;
}

/*id selector*/
/*#id-name*/

#zuitt-motto {
	letter-spacing: 5px;
	/* the letter-spacing property changes the spaces in between characters of a text */
}

h3 {
	letter-spacing: 25px;
}

/*Adjacent Sibling Selector*/
/*selector + selector*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}*/

	/*The selectors used for combinator selectors aren't limited/restricted to type selectors only. Id, Class, attribute and universal selectors may also be used.*/
	/*The height, changes the vertical dimensions of the element*/
	/*The width, changes the horizontal dimensions of the element*/
	/*The border-radius, changes the corners of the element from sharp to a rounded corners.*/

ol {
	list-style-type: none;
}


/*class selector*/
/*.class-name*/

.offering-item {
	text-transform: uppercase;
	/* the text-transform property changes font to a certain case, the value uppercase changes the text to all capitalized letters. */
}

/*Descendant Selector*/
/*selector selector*/

#bootcamp-learning-list li {
	color: #070966;
}

	/*The color property and similar properties that change color can also accept hex values. Hexademical values is consist of (#) sign in combination with 6 alphnumeric characters*/

/*General Sibling Selector*/
/*selector ~ selector*/
h2 ~ a {
	text-decoration: none;
}

	/* The text-decoration, is a property that changes lines included in text (e.g. overline, underling and strike through) */
	/* The value none, will remove the underline from links */

/*Child Selector*/
/*selector > selector*/

body > section > form > label {
	color: rgb(237, 17, 35);
}

	/*The child selector may include more that two selectors, and the last tag/element is where the changes will happen*/

/*Attribute selector*/
/*tagname[attribute]*/

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*registered section*/

form {
	text-align: center;
	background-color: white;
	height: 185px;
	width: 25vw;
	border: 2px solid black;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}


/*
Important Note:
	- The "background-color" property changes the background color of an element.
	- The "scroll-behavior" property changes the scrolling behavior when clicking on anchor tags.
	- The value "smooth" changes the scrolling behavior of a page jumping from one section to the next to smoothly scroll to a section.
	- The "a:hover" pseudo class will change the style of an element when it is hovered over.
	- The "display" property changes the visibility and the behavior of an element's box.
	- The value "inline-block" will allow the div element to be inline with sibling elements and occupy the remaining space as if it were a block element.
	- The "float" property changes the horizontal alignment of an element to float either to the left or right of it's container.
	- The "text-align" property changes the horizontal alignment of text or all nested text elements.
	The "font-size" property changes the size of text.
	- The value "rem" is based on the "font-size" property of the "root element". In this case, the "font-size" of the root element is at "20px" defined by the Universal Selector. The rem value acts as a multiplier of this value. "2rem" is equivalent to "20px". Using this value for text allows us to implement consistency within text styles instead of providing varying pixel values to text.
	- The default value of the root element is at "16px.
	- The value "vh" refers to viewport height. This value is based on a percentage of the browser's screen size and is good to use for elements that we want to have a responsive change in size referencing the browser's screen.
	- The "list-style-type" property changes the bullet point used in a list.
	- The value "none" will remove the bullet points from a list.
	- CSS rules may be applied to multiple selectors using a comma (,). Add the a tag after the Generic Sibling Selector (h2 ~ a, a) to also apply the properties defined in the rule to apply to a tags and remove the underline.
	- Some CSS properties have a shorthand property that combines several properties into one. An example of this is the "border" property which combines the "border-width", "border-style" and "border-color" properties into one.
	- The value "2px solid black" refers to the "border-width", "border-style" and "border-color" properties respectively.
	- Use "absolute measurements" like "px" for elements that we don't want to change in dimension regardless of screensize. "relative measurements" like "vw" and "vh" are good for responsive design.
	- Refer to "references" section of this file to find the documentation for CSS Units of Measurement.
	- The value "vw" refers to viewport width.
	- The "position" property changes the position of an element based on certain criteria. This topic would be better understood after discussing the next session.
	The value "relative" tells the element to move in relation to it's original position in the HTML document.
	- Refer to "references" section of this file to find the documentation for CSS Position Property.
	- The "left" property is used along with the "position" property to add a certain measurement to the left of an element. The "right", "top" and "bottom" properties also function the same way. Though only two at a time is recommended to be used to position elements. Either the "top" or "bottom" for vertical alignment and the "left" and "right" for horizontal alignment.
	- The value "%" is based on the measurement of the parent element. The parent element is the "section" tag which is a block element and occupies the full width of the page. In this case, the value of the "left" property is "37.25%" of "100%".
*/
